In [1]:
import pandas as pd
import numpy as np

In [2]:
#reading in a csv as a DataFrame (df).  .Head() method is to display only top 5 rows.

df = pd.read_csv('guitarDB.csv', encoding='latin1')
df.head()

,id,Artist,Song Name,Song Rating,Song Hits,Page Type,Difficulty,Key,Capo,Tuning
0,1,3 Doors Down,Kryptonite,847,"2,509,944",Tab,intermediate,Db,No Capo,E A D G B
1,2,3 Doors Down,Here Without You,248,"2,084,837",Tab,intermediate,Db,No Capo,E A D G B E
2,3,3 Doors Down,Here Without You,"1,501","1,481,503",Chords,intermediate,Bbm,No Capo,Eb Ab Db Gb Bb Eb
3,4,4 Non Blondes,Whats Up,"8,593","5,085,031",Chords,novice,A,2nd fret,E A D G B E
4,5,5 Seconds Of Summer,Amnesia,"1,444","2,378,477",Chords,novice,Db,2nd fre,E A D G B E

In [11]:
artist = (df.groupby('Artist')['id'].agg(list).reset_index())
print (artist)

                  Artist                                                 id
0           3 Doors Down                                          [1, 2, 3]
1          4 Non Blondes                                                [4]
2    5 Seconds Of Summer                                                [5]
3      A Day to Remember                                                [6]
4      A Great Big World                                             [7, 8]
..                   ...                                                ...
337               ZZ Top  [838, 839, 840, 841, 842, 843, 844, 845, 846, ...
338                 a-ha                                               [33]
339              kahitna                                              [405]
340     near (Indonesia)                                              [543]
341    twenty one pilots                                    [815, 816, 817]

[342 rows x 2 columns]

In [14]:
artist.to_csv('artist.csv')